<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
  </head>
  <body>
    <header class="global-header" id="header">
      <div class="container-fluid main-header">
        <h1 class="site-title">
          <a href="" class="logo">Sunday</a>
        </h1>
        <button class="menu-toggle" id="menu-toggle">
            <span>[menu]</span>
        </button>
        <div class="wrapper-sticky">
          <nav class="main-menu">
            <div class="logo if-sticky">
              <a href="">Sunday</a>
            </div>
            <ul class="menu menu-main-site">
                <li id="menu-item-53404" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-53404"><a href="#">Career</a>
                  <ul class="sub-menu">
                    <li id="menu-item-53398" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-53398"><a href="https://99u.adobe.com/category/career">Get Paid</a></li>
                    <li id="menu-item-58425" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-58425"><a href="https://99u.adobe.com/category/career/get-noticed">Get Noticed</a></li>
                    <li id="menu-item-58427" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-58427"><a href="https://99u.adobe.com/category/career/get-hired">Get Hired</a></li>
                    <li id="menu-item-58426" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-58426"><a href="https://99u.adobe.com/category/career/get-creating">Get Creating</a></li>
                    <li id="menu-item-58422" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-58422"><a href="https://99u.adobe.com/category/career/get-to-work">Get to Work</a></li>
                    <li id="menu-item-58424" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-58424"><a href="https://99u.adobe.com/category/career/get-more-done">Get More Done</a></li>
                    <li id="menu-item-58423" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-58423"><a href="https://99u.adobe.com/category/career/get-motivated">Get Motivated</a></li>
                  </ul>
                </li>
                <li id="menu-item-53391" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-53391"><a href="https://99u.adobe.com/category/series/interviews">Interviews</a></li>
                <li id="menu-item-53392" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-53392"><a href="http://conference.99u.com">Conference</a></li>  
                <li id="menu-item-53396" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-53396"><a href="/videos">Talks</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <div class="container">
        <div class="row one-column">
            <div class="col-xs-12">
              <a href="">
                <img src="https://adobe99u.files.wordpress.com/2018/07/amos-kennedy.jpg?quality=100&resize=1240%2C920&strip" alt="">
              </a>
            </div>
        </div>
        <div class="row two-column">
            <div class="col-sm-6"></div>
            <div class="col-sm-6"></div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>
